<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fundamentos Da Informática</title>
  </head>
  <body>
    <!-- Comentario -->

    <img src="../../../../public/assets/images/greenranger.png" width="150">
    <img src="../../../../public/admin/assets/images/thiago.png" width="150">

	<h2>Professores</h2>
	<a href="">JASIEL</a>
	<a href="">PAULO</a>
	<a href="">THIAGO</a>
	
	<hr>

	<h2>Matérias</h2>
	<a href="">FI</a>
	<a href="">PA</a>
	<a href="">PW1</a>


  </body>
</html>